body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://w0.peakpx.com/wallpaper/617/55/HD-wallpaper-door-tuere-mystery-widescreen-fantasy-dark-art-dark-wds-mystik-door-thumbnail.jpg");
    color: #dcdbd9;
    letter-spacing: .20em; /* Adjust as needed */
}

#container{
    background-color: #5b5e89;
    border: 2px solid #4a4d70;
    padding: 20px;
    border-radius: 4px;
}

#effect{
  font-size: 15px;
  margin-bottom: 2%;
}

.txt{
  
    border: 1px solid #5b5e89;
    border-radius: 5px;
}

.txt:hover{
    background-color: #4a4d70;
}

